body {
    background-color: #4e6260;
    font-family: 'Noticia Text', serif;
}

/***************Grid Container************/

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.25rem;
}

h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #C5F5F0;
    font-size: 3rem;
}

h1 a {
    color: #C5F5F0;
}

h1 a:link {
    text-decoration: none;
}

h1 a:visited {
    color: #C5F5F0;
}

h2 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 2.5rem;
    color: #f5c5ca;
    margin-bottom: .2rem;
}

h3 {
    color: #C5F5F0;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
}

p {
    color: #f1fdfb;
    margin: 1.5rem;
}

/*********************Color Selection***************/

.changes {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 2px dashed #C5F5F0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
}

.changes h2:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 1rem;
    margin-top: 0;
}

.changes h2:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 1rem;
    margin-top: 0;
}

.changes h2:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 1rem;
    margin-top: 0;
}

.changes .choices {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 2px dashed #C5F5F0;
}

.changes .newChoices {
    grid-column-start: 2;
    grid-column-end: 3;
    border-right: 2px dashed #C5F5F0;
}

.changes .results {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-left: 25%;
    margin-right: 25%;
}

.changes #selection {
    margin-left: 25%;
    margin-right: 25%;
}
.changes button {
    margin-left: 7%;
    margin-right: 7%;
}