body {
    background-color: #4e6260;
    font-family: 'Noticia Text', serif;
}

/***************Grid Container************/

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

h1 {
    grid-column-start: 1;
    grid-column-end: 5;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #C5F5F0;
    font-size: 3rem;
}

h1 a {
    color: #C5F5F0;
}

h1 a:link {
    text-decoration: none;
}

h1 a:visited {
    color: #C5F5F0;
}

h2 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 2.5rem;
    color: #f5c5ca;
    margin-bottom: .2rem;
    margin-top: 0;
}

h3 {
    color: #C5F5F0;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    text-align: center;
    margin-top: 0;
}

p {
    color: #f1fdfb;
    margin-left: .5rem;
}

/*********************onChange***************/

.changes {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 2px dashed #C5F5F0;
    text-align: center;
}


/*********************onClick***************/
.newChoices {
    grid-column-start: 2;
    grid-column-end: 3;
    border-right: 2px dashed #C5F5F0;
    text-align: center;
}

.newChoices button {
    margin-left: 5%;
    margin-right: 5%;
}

/*********************Mouse Over***************/
.moreChoices {
    grid-column-start: 3;
    grid-column-end: 4;
    border-right: 2px dashed #C5F5F0;
    text-align: center;
}

span {
    padding: .5rem;
}

/*********************Results***************/
.box {
    grid-column-start: 4;
    grid-column-end: 5;
}

.results {
    margin-left: 25%;
    margin-right: 25%;
    width: 10rem;
    height: 5rem;
}

/*********************KeyDown***************/
.keyUp {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 2px dashed #C5F5F0;
    text-align: center;
    margin-top: 1rem;
}
