body {
    background-color: #4e6260;
    font-family: 'Noticia Text', serif;
}

/***************Grid Container************/

.container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1.25rem;
}

h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #C5F5F0;
    font-size: 3rem;
}

h1 a {
    color: #C5F5F0;
}

h1 a:link {
    text-decoration: none;
}

h1 a:visited {
    color: #C5F5F0;
}

h2 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 2.5rem;
    color: #f5c5ca;
    margin: 0;
}

button {
    margin: 1rem;
}

p {
    font-size: 1.2rem;
    margin: 0;
    color: #C5F5F0;
    font-family: 'Noticia Text', serif;
    padding: 1rem;
}

p.info {
    font-size: 1rem;
    color: #C5F5F0;
    margin: 0;
}

/*********************Animations Pulse***************/

.colors {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 2px dashed #C5F5F0;
    text-align: center;
}

.colors #square {
    background-color: #C5F5F0;
    width: 10rem;
    height: 10rem;
    margin: auto;
    margin-top: 1.25rem;
    animation: pulse 4s 2;
}

@keyframes pulse {
    0% {
        background-color: #C5F5F0;
    }
    75% {
        background-color: #f5c5ca;
    }
    100% {
        background-color: #f1fdfb;
    }
}

/*********************Animations Stretch***************/

.stretch {
    grid-column-start: 2;
    grid-column-end: 3;
    border-right: 2px dashed #C5F5F0;
    text-align: center;
}

.stretch #circle {
    background-color: #f1fdfb;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin: auto;
    margin-top: 1.25rem;
    animation: stretch 3s ease-in 0s alternate 4 none running;
}

@keyframes stretch {
    0% {
        transform: scale(.4);
        background-color: #f1fdfb;
    }
    50% {
        transform: scale(1);
        background-color: #f5c5ca;
    }
    100% {
        transform: scale(1.5);
        background-color: #C5F5F0;
    }
}

/*********************Animations Nudge***************/

.nudge {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}

.nudge #rectangle {
    background-color: #f5c5ca;
    width: 10rem;
    height: 5rem;
    margin: auto;
    margin-top: 1.25rem;
    animation: nudge 2s linear 6 alternate;
}

@keyframes nudge {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(10rem, 0);
    }
    100% {
        transform: translate(-10rem, 0);
    }
}

/*********************Animations SkewX***************/

.skewx {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 2px dashed #C5F5F0;
    text-align: center;
}

.skewx #square2 {
    background-color: #C5F5F0;
    width: 10rem;
    height: 10rem;
    margin: auto;
    margin-top: 1.25rem;
    animation: skewx 3s 8 alternate;
}

@keyframes skewx {
    0% {
        transform: skewX(20deg);
    }
    100% {
        transform: skewX(-20deg);
    }
}

/*********************Animations SkewY***************/

.skewy {
    grid-column-start: 2;
    grid-column-end: 3;
    border-right: 2px dashed #C5F5F0;
    text-align: center;
}

.skewy #square3 {
    background-color: #f1fdfb;
    width: 10rem;
    height: 10rem;
    margin: auto;
    margin-top: 1.25rem;
    animation: skewy 3s 8 alternate;
}

@keyframes skewy {
    0% {
        transform: skewY(20deg);
    }
    100% {
        transform: skewY(-20deg);
    }
}

/*********************Animations Rotate***************/

.rotate {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}

.rotate #rectangle2 {
    background-color: #f5c5ca;
    width: 5rem;
    height: 10rem;
    margin: auto;
    margin-top: 1.25rem;
    animation: rotate 3s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*********************Animations Bounce***************/

.bounce {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 2px dashed #C5F5F0;
    text-align: center;
}

.bounce #circle2 {
    background-color: #C5F5F0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: auto;
    margin-top: 1.25rem;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 50%, 100% {
        transform: translateY(0);
      }
      25% {
        transform: translateY(-30px);
      }
      75% {
        transform: translateY(-15px);
      }
}

/*********************Animations Bounce & Move***************/

.move {
    grid-column-start: 2;
    grid-column-end: 3;
    border-right: 2px dashed #C5F5F0;
    text-align: center;
}

.move #circle3 {
    background-image: radial-gradient(circle, #f1fdfb, #f5c5ca, #C5F5F0);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: auto;
    margin-top: 1.25rem;
    position:relative;
    animation: bounce 1s infinite, moving 3s linear alternate infinite;
}

@keyframes moving {
from {
    left: -45%;
}
to {
    left: 40%;
}

}