body {
    background-color: #4e6260;
    font-family: 'Noticia Text', serif;
}

/***************Grid Container************/

.container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1.25rem;
}

h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #C5F5F0;
    font-size: 3rem;
}

h1 a {
    color: #C5F5F0;
}

h1 a:link {
    text-decoration: none;
}

h1 a:visited {
    color: #C5F5F0;
}

h2 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 2.5rem;
    color: #f5c5ca;
}

button {
    margin: 1rem;
}

p {
    font-size: 1.2rem;
    margin: 0;
    color: #C5F5F0;
    font-family: 'Noticia Text', serif;
}

/*********************Transition Colors***************/

.colors {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 2px dashed #C5F5F0;
    text-align: center;
}

.colors #box1 {
    height: 3rem;
    width: 15rem;
    margin: auto;
    padding: .5rem;
    background-color: #C5F5F0;
}

.colors button {
    margin: 1rem;
    margin-top: 1.5rem;
}

/*********************Transition Zoom***************/

.zoom {
    grid-column-start: 2;
    grid-column-end: 3;
    border-right: 2px dashed #C5F5F0;
    text-align: center;
    font-size: 7px;
}

.zoom .box2 {
    height: 3rem;
    width: 10rem;
    margin: auto;
    padding: .5rem;
    background-color: #f1fdfb;
    transition: all 2.0s ease;
}

.zoom .changeZoom {
    height: 10rem;
    width: 20rem;
    font-size: 2rem;
}

.zoom button {
    margin: 1rem;
    margin-top: 1.5rem;
}

/*********************Transition Stretch***************/

.stretch {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}

.stretch .box3 {
    height: 3rem;
    width: 5rem;
    margin: auto;
    ;
    padding: .5rem;
    background-color: #C5F5F0;
    transition: width 2.0s ease-out;
}

.stretch .changeStretch {
    width: 15rem;
}

.stretch button {
    margin: 1rem;
    margin-top: 1.5rem;
}

/*********************Animation Spin***************/

.spin {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 2px dashed #C5F5F0;
    border-top: 2px dashed #C5F5F0;
    text-align: center;
}

.spin .box4 {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #C5F5F0;
    
}

.spin .rotate {
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}

.spin .pauseSpin {
    animation-play-state: paused;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin button {
    margin-top: 2.5rem;
}

/*********************Animation Move***************/

.move {
    grid-column-start: 2;
    grid-column-end: 3;
    border-right: 2px dashed #C5F5F0;
    border-top: 2px dashed #C5F5F0;
    text-align: center;
}

.move .box5 {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color:#f1fdfb;
    margin: auto;
    position: relative;
}

.move button {
    margin-top: 2.5rem;
}

.move .walkAbout {
    /*animation will be called, then the reverse will happen*/
    animation: startUp 10s 2;
    animation-direction: alternate;
    animation-play-state: running;
}
.move .pauseWalk{
    animation-play-state: paused;
}

@keyframes startUp{
    0%   {background:#f5c5ca; left: 0px; top: 0px;}
    20%  {background: #C5F5F0; left: 175px; top: 0px;}
    40%  {background:#f5c5ca; left: 175px; top: 175px;}
    60%  {background: #C5F5F0; left: -175px; top: 175px;}
    80%  {background:#f5c5ca; left: -175px; top: 0px;}
    100% {background:#C5F5F0; left: 0px; top: 0px;}
}

/*********************Animation Combine***************/

.combined {
    grid-column-start: 3;
    grid-column-end: 4;
    border-top: 2px dashed #C5F5F0;
    text-align: center;
}

.combined .box6 {
    width: 75px;
    height: 75px;
    background-color:#C5F5F0;
    margin: left;
    position: relative;
}

.combined button {
    margin-top: 2.5rem;
}

.combined .spinMove {
    /*animation will be called, then the reverse will happen*/
    animation: comboTime 3s 2;
    animation-direction: alternate;
  
}

@keyframes comboTime{
    0%   {background:#f5c5ca; left: 0px; top: 0px;}
    35%  {background: #C5F5F0; left: 175px; top: 0px;}
    75%  {background:#f5c5ca; left: 175px; top: 175px;}
    100% {background:#C5F5F0; left: 0px; top: 0px;}
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}