body {
    background-color: #4e6260;
    font-family: 'Noticia Text', serif;
}


/***************Grid Container************/

.container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.25rem;
}

h1{
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #C5F5F0;
    font-size: 3rem;
}

h1 a {
    color: #C5F5F0;
}
h1 a:link {
    text-decoration: none;
}

h1 a:visited{
    color: #C5F5F0;
}

h2 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 2.5rem;
    color: #f5c5ca;
    margin-bottom: .2rem;
}

h3 {
    color: #C5F5F0;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    text-align:center;
    margin-top: 0;
}

p {
    color: #f1fdfb;
    margin: 1.5rem;
}

/*********************Town Selection***************/
.townSelect {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 2px dashed #C5F5F0;

}

#selection {
    margin: 1.25rem;
}

/*********************Town Display***************/
.townDisplay {
    grid-column-start: 2;
    grid-column-end: 3;
}

.label {
    color: #f5c5ca;
    font-weight: bold;
}

.townInfo {
    margin-top: 0;
}

#townName{
    height: 2rem;
}