body {
    background-color: #4e6260;
    font-family: 'Noticia Text', serif;
}

/***************Grid Container************/

.container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1.25rem;
}

h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #C5F5F0;
    font-size: 3rem;
}

h1 a {
    color: #C5F5F0;
}

h1 a:link {
    text-decoration: none;
}

h1 a:visited {
    color: #C5F5F0;
}

h2 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 2.5rem;
    color: #f5c5ca;
}

button {
    margin: 1rem;
}

p {
    font-size: 1.2rem;
    margin: 0;
    color: #C5F5F0;
    font-family: 'Noticia Text', serif;
    padding: 1rem;
}

/*********************Transition Delay***************/

.stretch {
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 2px dashed #C5F5F0;
    text-align: center;
}

.stretch #box1 {
    height: 3rem;
    width: 5rem;
    margin: auto;
    margin-top:1rem;
    padding: .5rem;
    background-color: #C5F5F0;
    transition: width 2.0s ease-out 0; 
}

.stretch #box1:hover {
    width: 15rem;
}

.stretch #box2 {
    height: 3rem;
    width: 5rem;
    margin: auto;
    margin-top:1rem;
    padding: .5rem;
    background-color: #f5c5ca;
    transition: width 2.0s ease-out 1s;
}

.stretch #box2:hover {
    width: 15rem;
}

.stretch #box3 {
    height: 3rem;
    width: 5rem;
    margin: auto;
    margin-top:1rem;
    padding: .5rem;
    background-color: #f1fdfb;
    transition: width 2.0s ease-out 2s;
}

.stretch #box3:hover{
    width: 15rem;
}

/*********************Transition Speed***************/

.move {
    grid-column-start: 2;
    grid-column-end: 3;
    border-right: 2px dashed #C5F5F0;
    text-align: center;
}

.move #box4 {
    height: 3rem;
    width: 3rem;
    margin: auto;
    border-radius: 50%;
    background-color: #C5F5F0;
    transition: all 1.0s ease-out 2s; 
}

.move #box5 {
    height: 3rem;
    width: 3rem;
    margin: auto;
    border-radius: 50%;
    background-color: #f5c5ca;
    transition: all 4.0s linear 2s;
}

.move #box6 {
    height: 3rem;
    width: 3rem;
    margin: auto;
    border-radius: 50%;
    background-color: #f1fdfb;
    transition: all 8.0s ease-in-out 2s;
}

/*********************Transition Zoom***************/

.zoom {
    grid-column-start: 3;
    grid-column-end: 3;
    text-align: center;
    font-size: 7px;
}

.zoom #box7 {
    height: 3rem;
    width: 10rem;
    margin: auto;
    padding: .5rem;
    background-color: #f1fdfb;
    transition: all 2.0s ease;
}

.zoom #box7:hover {
    height: 10rem;
    width: 20rem;
    font-size: 2rem;
}

