* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Noticia Text', serif;
    background-color: #94a09f;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.25em auto;
    padding: .5rem;
    max-width: 90%;
}

h1 {
    font-size: 1.5em;
    color: white;
    text-align: right;
    background-color: #4e6260;
    padding: .7rem;
    grid-column-start: 1;
    grid-column-end: 4;
}

h2 {
    font-size: 3rem;
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    color: #f1fdfb;
    padding: 1rem;
    border-bottom: 1px solid #4e6260;
    grid-column-start: 1;
    grid-column-end: 4;
}

.topics {
    padding: .5rem;
    margin: .5rem;
    border-right: 3px solid #4e6260;
}

.topics h3 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 4rem;
    color: #f5c5ca;
    text-align: center;
    padding: .25rem;
    margin-bottom: 1.25rem;
}

.topics p {
    color: #f1fdfb;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.topic1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.topic2 {
    grid-column-start: 2;
    grid-column-end: 3;
}
.topic3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.topic3 button{
    margin-top: 3rem;
}
.topic4 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.topic5 {
    grid-column-start: 2;
    grid-column-end: 3;
}
.topic6 {
    grid-column-start: 3;
    grid-column-end: 4;
}
.topic7 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.topic8 {
    grid-column-start: 2;
    grid-column-end: 3;
}
.topic9 {
    grid-column-start: 3;
    grid-column-end: 4;
}
.topic10 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.topic11 {
    grid-column-start: 2;
    grid-column-end: 3;
}
.topic12 {
    grid-column-start: 3;
    grid-column-end: 4;
}
.topic13 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.topic14 {
    grid-column-start: 2;
    grid-column-end: 3;
}

button {
    background-color: #4e6260;
    color: #f1fdfb;
    border: none;
    padding: .5rem;
    margin: 1rem;
}

button a {
    color: white;
    font-size: 1rem;
}

button a:link {
    text-decoration: none;
}