body {
    background-color: #4e6260;
    font-family: 'Noticia Text', serif;
}

/***************Grid Container************/

.container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 1.25rem;
}

h1{
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #C5F5F0;
    font-size: 3rem;
}

h1 a {
    color: #C5F5F0;
}
h1 a:link {
    text-decoration: none;
}

h1 a:visited{
    color: #C5F5F0;
}

h2 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 2.5rem;
    color: #f5c5ca;
    margin-bottom: .2rem;
}

h3 {
    font-family: 'Amatic SC', cursive;
    color: #f5c5ca;
    font-size: 1.5rem;
    margin-bottom: .2rem;
}
.sections{
    border-right: 2px dashed #C5F5F0;
    margin: .5rem;
    padding: .25rem;
} 

.sections p {
    color: #C5F5F0;
}
/*****************Element by ID and InnerHTML************/
.section1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.section1 p:nth-child(3){
    color: #f1fdfb;
}

.empty {
    border: 2px solid #f5c5ca;
    margin: .5rem;
    max-width: 50%;
    min-height: 1.5rem;
    font-size: 1rem;
    color: #f1fdfb;
}

.innerHTML {
    margin: .5rem;
  
}

/***********************Change by Tag/Class Names*******************/

.section2{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr, 1fr;
}
.section2 p:not(:nth-child(2)) {
    color: #f1fdfb;
}

.section2 h2, .section2 p {
    grid-column-start: 1;
    grid-column-end: 3;
}

.section2 .tagnames {
    grid-column-start: 1;
    grid-column-end: 2;
}

.section2 .classnames {
    grid-column-start: 2;
    grid-column-end: 3;
}

.wholediv {
    margin-top: .5rem;
    color: #f5c5ca;
}

#classbtn {
    color: black;
}

/***********************Combine ID names and Tags*******************/

.section3{
    grid-column-start: 3;
    grid-column-end: 4;
}
.section3 p:nth-child(3), p:nth-child(6) {
    color: #f1fdfb;
}


/***********************Creating and Appending *******************/

.section4{
    grid-column-start: 1;
    grid-column-end: 2;
}

.section4 p:nth-child(3), #todo{
    color: #f5c5ca;
}

.section4 p:nth-child(5) {
    color: #f1fdfb;
}

/***********************Insert Before*******************/

.section5{
    grid-column-start: 2;
    grid-column-end: 3;
}

.section5 p:nth-child(3), #todo2{
    color: #f5c5ca;
}

.section5 p:nth-child(5) {
    color: #f1fdfb;
}

/***********************Remove ELements*******************/

.section6{
    grid-column-start: 3;
    grid-column-end: 4;
}

.section6 p:nth-child(3), #todo3, p:nth-child(10){
    color: #f5c5ca;
}

.section6 p:last-of-type {
    color: #f1fdfb;
}





