html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle,  #F28D0B, #5A4C3A, #2D2A26, #5A4C3A);
    background-attachment: fixed;
}

h2 {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: 'Overpass';
    margin-top: 0;
}

button {
    margin-top: 1.25rem;
    font-size: 1.25rem;
    color: white;
}
/*****************Container**************/
.container {
    text-align: center;
 
}

/****************Header********************/

.header {
  
   border-bottom: solid 2px #F28D0B;
    margin-left: .5rem;
    padding-right: .2rem;
    padding-left: .2rem;
    max-width: 100%
}

.header #nbalogo {
    max-width: 10%;
    margin-left: .25rem;
    margin-bottom: 0;
}

.header h1 {
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 4rem;
    margin-top: 0;
}


/***************West**************/

.west {
    margin-top: 3rem;
    border: dashed 1px #F28D0B;
}
.west h1 {
    color: white;
    font-size: 3rem;
}

.west a {
    text-decoration: none;
}

/***************East**************/
.east {
    margin-top: 3rem;
    border: dashed 1px #F28D0B;
}

.east h1 {
    color: white;
    font-size: 3rem;
}

.east a {
    text-decoration: none;
}

/**************All Star**************/
.allstar {
    margin-top: 3rem;
    border: dashed 1px #F28D0B;
}

.allstar h1 {
    color: white;
    font-size: 3rem;
}

.allstar a {
    text-decoration: none;
}
