body {
    background-image: radial-gradient(circle, #F28D0B, #5A4C3A, #2D2A26, #5A4C3A);
    height: 100%;
    width: 95%;
    align-content: center;
    justify-items: center;
}

a {
    text-decoration: none;
}

/********************Header*****************/

.header {
    border-bottom: solid 2px #7F8382;
    margin-left: .5rem;
    padding-right: .2rem;
    padding-left: .2rem;
    max-width: 100%;
    text-align: center;
    
}

.nav{
   display: grid;
   grid-template-columns: 1fr, 10fr;
    width: 95%;
    overflow: hidden;
    position: relative;


}
.nav #menuLinks {
    display: none;
    left: 25%;
    right: 25%;
    float: left;
    margin: auto;
    grid-column-start: 2;
    grid-column-end: 11;
    text-align: center;

}

.nav a {
    float: left;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 35px;
    position: relative;
}

.nav a.hamburger {
   margin-left: 1rem;
   grid-column-start: 1;
   grid-column-end: 2;
}

.header h1 {
    color: white;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 0;
}

/*********************Images*****************/

.icons {
    width: 40%;
}

#container {
    width: 100%;
    height: 1500px;
    display: flex;
    flex-flow: wrap;
    align-content: flex-start;
    align-items: center;
    justify-items: center;
    justify-content: center;
}


/******************Team Cards****************/

.card {
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 350px;
    height: 250px;
    perspective: 1000px;
    margin: 1rem;
    position: relative;
    border-radius: 10%;
    display: inline-flex;
   
}

.front, .back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    border-radius: 10%;
}

.front {
    color: white;
}

.back {
    color: white;
    transform: rotateY(180deg);
}

.flipped {
    transform: rotateY(180deg);
}

.front h2 {
    margin-top: 2rem;
    padding: .25rem;
    font-size: 1.75rem;
}

h3 {
    font-size: 2rem;
    margin-top: .5rem;
    margin-bottom: .25rem;
    
}

.mavfront, .mavback {
    background-image: linear-gradient(#00538c, #002B5E, #B8C4CA);
}

.nugfront, .nugback {
    background-image: linear-gradient(#0E2240, #FEC524, #8B2131, #1D428A);
}

.warriorfront, .warriorback {
    background-image: linear-gradient(#006BB6, #FDB927, #26282A);
}

.rocketsfront, .rocketsback {
    background-image: linear-gradient(#CE1141, #000000, #C4CED4);
}

.clippersfront, .clippersback {
    background-image: linear-gradient(#C8102E, #1D428A, #BEC0C2, #000000);
}

.lakersfront, .lakersback {
    background-image: linear-gradient(#552583, #FDB927, #000000);
}

.memphisfront, .memphisback {
    background-image: linear-gradient(#5D76A9, #12173F, #F5B112, #707271);
}

.timberfront, .timberback {
    background-image: linear-gradient(#0C2340, #236192, #9EA2A2, #78BE20);
}

.pelicansfront, .pelicansback {
    background-image: linear-gradient(#0C2340, #C8102E, #85714D);
}

.thunderfront, .thunderback {
    background-image: linear-gradient(#007AC1, #EF3B24, #002D62, #FDBB30);
}

.sunsfront, .sunsback {
    background-image: linear-gradient(#1D1160, #E56020, #000000, #63727A, #F9AD1B, #B95915, #BEC0C2);
}

.blazersfront, .blazersback {
    background-image: linear-gradient(#E03A3E, #000000);
}

.kingsfront, .kingsback {
    background-image: linear-gradient(#5A2D81, #63727A, #000000);
}

.spursfront, .spursback {
    background-image: linear-gradient(#C4CED4, #000000);
}

.jazzfront, .jazzback {
    background-image: linear-gradient(#002B5C, #00471B, #F9A01B);
}

.hawksfront, .hawksback {
    background-image: linear-gradient(#E03A3E, #C1D32F, #26282A);
}

.celticsfront, .celticsback {
    background-image: linear-gradient(#007A33, #BA9653, #963821, #E59E6D, #000000);
}

.netsfront, .netsback {
    background-image: linear-gradient(#000000, #FFFFFF);
}

.hornetsfront, .hornetsback {
    background-image: linear-gradient(#1D1160, #00788C, #A1A1A4);
}

.bullsfront, .bullsback {
    background-image: linear-gradient(#CE1141, #000000);
}

.cavsfront, .cavsback {
    background-image: linear-gradient(#6F263D, #041E42, #FFB81C, #000000);
}

.pistonsfront, .pistonsback {
    background-image: linear-gradient(#C8102E, #006BB6, #BEC0C2, #002D62);
}

.pacersfront, .pacersback {
    background-image: linear-gradient(#002D62, #FDBB30, #BEC0C2);
}

.heatfront, .heatback {
    background-image: linear-gradient(#98002E, #F9A01B, #000000);
}

.bucksfront, .bucksback {
    background-image: linear-gradient(#000000, #00471B, #0077C0, #EEE1C0);
}

.knicksfront, .knicksback {
    background-image: linear-gradient(#006BB6, #F58426, #BEC0C2, #000000);
}

.magicfront, .magicback {
    background-image: linear-gradient(#0077C0, #C4CED4, #000000);
}

.sixersfront, .sixersback {
    background-image: linear-gradient(#006BB6, #ED174C, #002B5C, #C4CED4);
}

.raptorsfront, .raptorsback {
    background-image: linear-gradient(#CE1141, #000000, #A1A1A4, #B4975A);
}

.wizardsfront, .wizardsback {
    background-image: linear-gradient(#002B5C, #E31837, #C4CED4);
}

.statInfo {
    background-color: rgba(128, 128, 128, 0.3);
    height: 100%;
    width: 100%;
    border-radius: 10%;
    padding-top: .25rem;
}

p {
    padding: .5rem;
    margin: .5rem;
    font-size: 1.1rem;
}

.smaller {
    width: 30%;
}

.larger {
    width: 50%;
}

#searchList {
    width: 75%;
    font-size: 1rem;
    padding: .5rem;
    margin: 2rem;
    border-radius: 10px;
    border: 2px solid #B95915;
    background-color: rgba(255,255,255,.7);
}
